@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
    vertical-align: center;
    text-align: center;
}

html, body {
    margin: 0;
    height: 100%;
}

* {
    font-family: "Oswald";
    box-sizing: border-box;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: linear-gradient(to left, bisque, lightcoral);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
}

#logo{
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
}
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 80px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        border: 1px solid white;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #dac6ab;
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}
h2 {
    vertical-align: center;
    text-align: center;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

html, body {
    margin: 0;
    height: 100%;
}

nav ul{
    margin-left: 10px;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: .20em;
    font-size: 20px;
    background-color: bisque;
    margin-left: 50px;
}



nav li a{
    padding: 14px 16px;
    text-decoration: #7c4130 underline;
}

* {
    font-family: "Raleway";
    box-sizing: border-box;
}

.top-nav {
    background-color: rgb(234, 198, 183);
    z-index: 100;
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 20px;
    height: 80px;
}


#first1{
    margin-right: 10px;
    font-family: Oswald;
    font-size: 25px;
    color: white;
    text-shadow: 0px 1px 1px #000;
    text-outline: 1px black;
}

* {
    margin: 0;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    flex: 1;
    max-width: 300px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
}

img#img1{
    visibility: hidden;
}

img#img2{
    opacity: 50%;
}

@media (max-width: 768px) {
    .image {
        flex: 1 0 50%; /* Уменьшаем количество столбцов до 2 на экранах шириной меньше 768px */
    }
}

@media (max-width: 480px) {
    .image {
        flex: 1 0 100%; /* Уменьшаем количество столбцов до 1 на экранах шириной меньше 480px */
    }
}