
.animated-element {
    rotate: 0deg;
    width: 100px;
    height: 100px;
    background-image: url("../img/fractal1.jpg");
    background-color: #3498db;
    display: flex;
    margin: 100px auto 100px auto;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease, background-color 0.5s ease;
    user-select: none;
}
#contents {
    margin-bottom: 20px;
}
/* Image Gallery Styles */
.gallery {
    display: flex;
}

.thumbnail {
    margin-right: 10px;
    cursor: pointer;
}

.main-image {
    width: 1000px;
}
.left-wrapper {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Selectable List Styles */
.selected {
    background-color: #9bb3b4;
    user-select: none;
}

.selectable_list {
    user-select: none;
}

body {
    width: max-content;
    user-select: none;
    display: flex;
    align-content: center;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

li {
    width: 200px;
    height: 30px;
    font-size: 32px;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    margin: 2px;
    border: 1px solid #44e269;
    border-radius: 4px;
}

li.selected {
    color: #fff;
}

/* Slider Styles */
.slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#slider {
    width: 400px;
    margin: 50px auto;
    position: relative;
}

#slider-bar {
    height: 13px;
    background-color: #b7b7b7;
    position: relative;
    border-radius: 8px;
}

#slider-handle {
    width: 13px;
    height: 30px;
    background-color: #ff0000;
    border-radius: 10px;
    position: absolute;
    top: -8px;
    cursor: pointer;
}

/* Cart and Products Styles */
/* Cart and Products Styles */
.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    justify-content: center;
    margin-top: 20px;
}

.products-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    max-width: 800px;
    border-radius: 15px;
    background-color: #f5f5f5; /* Новый цвет фона */
    margin-right: 10px;
    padding: 20px; /* Добавлен внутренний отступ */
}

.product {
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 30%;
    background-color: #d9d7d0; /* Новый цвет фона */
    font-size: 20px;
    padding: 20px; /* Добавлен внутренний отступ */
}
.cart {
    background-color: #e0dede;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.item .price {
    color: #008000;
    font-weight: bold;
}

.cart i {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 70px;
}

.item {
    border: 1px solid #de6767; /* Новый цвет границы */
    border-radius: 15px;
    background-color: rgba(152, 128, 128, 0.11);
    padding: 15px; /* Увеличен внутренний отступ */
    margin: 10px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}
